@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(138, 224, 196);
 
}
.ContainerMap{
  display: flex;
  flex-direction:row-reverse;
}
.Map{
  width: 70vw;
  height: 100vh;
}
.Favorites{
background: rgb(179, 152, 137);
}
.Favorites h1{
  color: rgb(204, 69, 98)
}
.popup{
  opacity: 0.9;
}
.popup h1{
  font-size: 14px;
}
.popup p{
  font-size: 12px;
}
.popup button{
  background: salmon;
  color: antiquewhite;
}
button{
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn img{
  width:20px;
  height: 20px;
  background: transparent;
}
.mapboxgl-ctrl-group:not(:empty){
  background-color: transparent;
  box-shadow: none!important
}
.logo{
  text-align: center;
  color: rgb(223, 48, 208);
  font-family: 'Lilita One', cursive;
}
.mapboxgl-popup-close-button {
  font-size: x-large;
}

#popup h4{
  text-align: center;
  font-weight: lighter;
 
}
.fas.fa-map-marker-alt{
  color:rgb(204, 69, 98);
  font-size: 16px;
}
