@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(138, 224, 196);
 
}

.btn{
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn img{
  width:20px;
  height: 20px;
  background: transparent;
}
.mapboxgl-ctrl-group:not(:empty){
  background-color: transparent;
  box-shadow: none!important
}
.logo{
  text-align: center;
  color: rgb(223, 48, 208);
  font-family: 'Lilita One', cursive;
}
.mapboxgl-popup-close-button {
  font-size: x-large;
}

#popup h4{
  text-align: center;
  font-weight: lighter;
 
}
